@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
:root {
  /* *************** */
  /* color variables */
  /* *************** */
  --clr-pri-1: hsl(256, 26%, 20%);
  --clr-pri-2: hsl(216, 30%, 68%);
  --clr-sec-1: hsl(270, 9%, 17%);
  --clr-sec-2: hsl(273, 4%, 51%);
  --clr-ter: hsl(0, 0%, 98%);
  --clr-black: black;
  --clr-white: white;
  /* *************************** */
  /* font family and font weight */
  /* *************************** */
  --ff-heading: 'DM Serif Display', serif;
  --ff-body: 'Karla', sans-serif;
  --fw-400: 400;
  --fw-700: 700;
  /* ********** */
  /* font sizes */
  /* ********** */
  --fs-xl: 2.2em;
  --fs-l: 1.7em;
  --fs-m: 1.5em;
  --fs-s: 1.2em;
  --fs-xs: 1em;
}

@media (max-width: 63.9375em) {
  :root {
    --fs-xl: 2.1em;
    --fs-l: 1.6em;
    --fs-m: 1.4em;
    --fs-s: 1.1em;
    --fs-xs: 0.9em;
  }
}

/* **************************** */
/* utility class for font sizes */
/* **************************** */
.fs-xl {
  font-size: var(--fs-xl);
}

.fs-l {
  font-size: var(--fs-l);
}

.fs-m {
  font-size: var(--fs-m);
}

.fs-s {
  font-size: var(--fs-s);
}

.fs-xs {
  font-size: var(--fs-xs);
}

/* ************************** */
/* utility classes for colors */
/* ************************** */
.clr-pri-1-bg {
  background: var(--clr-pri-1);
}

.clr-pri-1-c {
  color: var(--clr-pri-1);
}

.clr-pri-2-bg {
  background: var(--clr-pri-2);
}

.clr-pri-2-c {
  color: var(--clr-pri-2);
}

.clr-sec-1-bg {
  background: var(--clr-sec-1);
}

.clr-sec-1-c {
  color: var(--clr-sec-1);
}

.clr-sec-2-bg {
  background: var(--clr-sec-2);
}

.clr-sec-2-c {
  color: var(--clr-sec-2);
}

.clr-ter-bg {
  background: var(--clr-ter);
}

.clr-ter-c {
  color: var(--clr-ter);
}

.clr-black-bg {
  background: var(--clr-black);
}

.clr-black-c {
  color: var(--clr-black);
}

.clr-white-bg {
  background: var(--clr-white);
}

.clr-white-c {
  color: var(--clr-white);
}

/* ************************************************ */
/* utility classses for font family and font weight */
/* ************************************************ */
.ff-heading {
  font-family: var(--ff-heading);
}

.ff-body {
  font-family: var(--ff-body);
}

.fw-400 {
  font-weight: 400;
}

.fw-700 {
  font-weight: 700;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  font-size: 16px;
}

body {
  width: 100%;
  min-height: 100vh;
  margin-bottom: 20em;
}

li {
  list-style: none;
}

/* ********************** */
/* utility class for flex */
/* ********************** */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-dir-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-dir-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-as-c {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* ************************************ */
/* utility class for margin and padding */
/* ************************************ */
.mt {
  margin-top: var(--mt, 2em);
}

.ml {
  margin-left: var(--ml, 2em);
}

.mb {
  margin-bottom: var(--mb, 2em);
}

.mr {
  margin-right: var(--mr, 2em);
}

.pd {
  padding: 1em;
}

/* ************* */
/* class to hide */
/* ************* */
.hide {
  display: none;
}

/* ******************************* */
/* global style of button and link */
/* ******************************* */
button, .button {
  background: none;
  border: none;
  outline: none;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 6em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--clr-pri-1);
}

header nav {
  --ml: auto;
  margin-left: var(--ml);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li,
header nav button {
  margin-left: 1.5em;
  cursor: pointer;
}

header nav ul li {
  color: var(--clr-sec-2);
}

header nav ul li:hover {
  color: var(--clr-pri-1);
}

header nav button {
  background: var(--clr-white);
  color: var(--clr-sec-1);
  font-weight: 700;
  padding: 0.8em 1.6em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 0.9em;
  border: 2px solid var(--clr-pri-1);
  letter-spacing: 1px;
  text-transform: uppercase;
}

header nav button:hover {
  background: var(--clr-sec-1);
  color: var(--clr-white);
}

@media (max-width: 63.9375em) {
  header {
    padding: 1em 4em;
  }
}

@media (max-width: 47.9375em) {
  header nav {
    display: none;
  }
}

@media (max-width: 31.25em) {
  header {
    padding: 0.8em 2em;
  }
}

nav.mobile {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: calc(100vh - var(--fs-xl));
  position: absolute;
  padding: 1em;
  background: var(--clr-sec-1);
  color: var(--clr-white);
  text-align: center;
  font-size: var(--fs-l);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

nav.mobile ul li,
nav.mobile button {
  margin-top: 2em;
}

nav.mobile button {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-size: var(--clr-l);
  border: 2px solid var(--clr-white);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0.5em 4em;
  color: var(--clr-white);
  cursor: pointer;
}

nav.mobile.hide {
  display: none;
}

.hamburger,
.icon-close {
  display: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: auto;
  cursor: pointer;
}

.hamburger.hide, .icon-close.hide {
  display: none;
}

@media (max-width: 47.9375em) {
  .hamburger,
  .icon-close {
    display: block;
  }
}

section.hero {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background: var(--clr-pri-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 6em 6em;
}

section.hero div.hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--clr-white);
  width: 50%;
}

section.hero div.hero-text hr {
  width: 18ch;
}

section.hero div.hero-text h2 {
  font-size: calc(var(--fs-xl) + 1.5em);
  font-family: var(--ff-heading);
  line-height: 1;
  letter-spacing: 2px;
  margin-top: var(--fs-s);
  margin-bottom: 0.5em;
  width: 80%;
}

section.hero div.hero-text p {
  line-height: 1.5;
  font-size: var(--fs-s);
  width: 94%;
}

section.hero div.hero-text button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.8em 2em;
  margin-top: 2em;
  font-size: var(--fs-s);
  color: var(--clr-white);
  border: 2px solid var(--clr-white);
  cursor: pointer;
}

section.hero div.hero-text button:hover {
  background: var(--clr-white);
  color: var(--clr-pri-1);
}

section.hero div.image-wrapper {
  width: 50%;
  position: relative;
}

section.hero div.image-wrapper img {
  width: 80%;
  margin-top: 5%;
  position: absolute;
}

@media (max-width: 63.9375em) {
  section.hero {
    padding: 4em 6em;
  }
  section.hero div.image-wrapper img {
    width: 100%;
    position: relative;
    margin-top: 0;
  }
}

@media (max-width: 47.9375em) {
  section.hero {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  section.hero div.hero-text {
    width: 100%;
    padding: 2em 2em;
    padding-bottom: 4em;
    text-align: center;
  }
  section.hero div.hero-text h2, section.hero div.hero-text p {
    width: 100%;
  }
  section.hero div.hero-text h2 {
    margin-top: 0.5em;
  }
  section.hero div.hero-text button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  section.hero div.hero-text hr {
    display: none;
  }
  section.hero div.image-wrapper {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */